In [1]:
import pickle 
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
d = pickle.load(open('dataset_ii.pkl', 'rb'))

In [3]:
print(d['params'].shape)
d['params'][0][:7]

(91, 10)

array([0., 0., 0., 0., 0., 1., 0.])

In [4]:
# check parameter bounds for the continuous-valued parameters
# res_time
res_time_min, res_time_max = np.amin(d['params'][:, 7]), np.amax(d['params'][:, 7])
# temperature
temperature_min, temperature_max = np.amin(d['params'][:, 8]), np.amax(d['params'][:, 8])
# catalyst_loading
catalyst_loading_min, catalyst_loading_max = np.amin(d['params'][:, 9]), np.amax(d['params'][:, 9])

print(f'res_time : {res_time_min} {res_time_max}')
print(f'temperature : {temperature_min} {temperature_max}')
print(f'catalyst_loading : {catalyst_loading_min} {catalyst_loading_max}')

res_time : 60.0 600.0
temperature : 30.0 110.0
catalyst_loading : 0.492 2.516

In [5]:
print(d['values'].shape)
d['values']

(91, 2)

array([[ 0. ,  0.1],
       [ 0.2,  0.1],
       [ 0.2,  0.1],
       [ 2.3,  5.7],
       [ 2.5,  6.4],
       [ 4.4, 11. ],
       [ 0.2,  0.1],
       [ 0. ,  0.1],
       [ 0.2,  0.5],
       [ 0.2,  0.1],
       [ 0.2,  0.1],
       [ 0.2,  0.1],
       [ 0. ,  0.1],
       [ 0.2,  0.1],
       [ 0.4,  1. ],
       [ 0. ,  0.1],
       [ 5.2,  5.9],
       [ 0.1,  0.1],
       [ 7.8,  8.9],
       [ 0.1,  0.1],
       [ 4.7, 11.8],
       [ 0. ,  0.1],
       [ 7.2,  8.2],
       [ 4.6, 11.5],
       [ 9.2, 10.5],
       [ 5.4, 13.5],
       [ 0.3,  0.4],
       [ 4.6, 11.7],
       [ 6.4, 16.1],
       [ 1. ,  2.4],
       [11.1, 28. ],
       [ 6.5, 16.3],
       [ 0. ,  0.1],
       [ 0.1,  0.1],
       [ 0. ,  0.1],
       [11.2, 28.1],
       [ 6.5, 16.4],
       [ 6.7, 16.9],
       [ 7.9, 19.9],
       [ 5.2, 13. ],
       [10.9,  8.5],
       [ 5.4, 11.6],
       [ 2.8,  5.4],
       [ 9.1, 18.6],
       [ 7. ,  5.5],
       [ 7.2, 18. ],
       [ 5.6, 14.2],
       [ 7.2, 18.1],
       [ 9.8, 24.6],
       [ 2.7,  6.8],
       [10.3, 26. ],
       [ 9.7, 24.5],
       [ 4.3, 10.8],
       [ 6.9, 17.3],
       [ 8.3, 15.9],
       [ 9.4, 18.5],
       [13.3, 24. ],
       [15.5, 30.6],
       [15.3, 30.2],
       [14.7, 20.2],
       [ 8.8, 16.9],
       [ 8.9, 22.3],
       [13. , 32.6],
       [19.7, 40.1],
       [16.7, 42. ],
       [ 0. ,  0.1],
       [ 0.2,  0.4],
       [18.9, 47.6],
       [16.6, 41.9],
       [ 0. ,  0.1],
       [16.7, 42. ],
       [ 0.4,  1.1],
       [ 1.8,  4.6],
       [ 5.6, 14.2],
       [ 9.7, 24.4],
       [ 6.3, 15.7],
       [ 5.6, 14. ],
       [18.1, 45.4],
       [15.2, 38.4],
       [10. , 25. ],
       [15.1, 26.2],
       [ 6.8, 17.2],
       [16.3, 41.1],
       [ 6.8, 17.1],
       [ 7. , 17.7],
       [18. , 45.2],
       [19.4, 34.8],
       [ 1. ,  2.5],
       [ 1.3,  3.2],
       [17.5, 44. ],
       [20.3, 38.9]])

In [6]:
def ohe_to_str(ohe):
    ix = np.where(ohe==1.)[0]
    return f'L{int(ix)}'

# ohe = np.array([0., 0., 1., 0.])
# ohe_to_str(ohe)

In [7]:
# convert to dataframe 
cols = ['ligand', 'res_time', 'temperature', 'catalyst_loading', 'yield', 'turnover']

In [8]:
dict_ = []

for param, value in zip(d['params'], d['values']):
    
    ligand = ohe_to_str(param[:7])
    res_time = param[7]
    temperature = param[8]
    catalyst_loading = param[9]
    
    #print(ligand, res_time, temperature, catalyst_loading)
    yield_ = value[1]
    turnover = value[0]
    
    dict_.append({'ligand': ligand,  'res_time': res_time, 'temperature': temperature, 
                 'catalyst_loading': catalyst_loading, 'yield': yield_, 'turnover': turnover})

In [9]:
df = pd.DataFrame(dict_)
print(df.shape)
df.head()

(91, 6)

  ligand  res_time  temperature  catalyst_loading  yield  turnover
0     L5     600.0        110.0             2.490    0.1       0.0
1     L4      60.0        110.0             0.510    0.1       0.2
2     L3      60.0        110.0             0.498    0.1       0.2
3     L6     600.0        110.0             2.489    5.7       2.3
4     L0      60.0        110.0             2.516    6.4       2.5

In [10]:
df.to_csv('../data.csv', index=False)