In [1]:
import pickle 
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
d = pickle.load(open('dataset_i.pkl', 'rb'))

In [3]:
print(d['params'].shape)
d['params'][0][:7]

(89, 10)

array([0., 0., 1., 0., 0., 0., 0.])

In [7]:
# check parameter bounds for the continuous-valued parameters
# res_time
res_time_min, res_time_max = np.amin(d['params'][:, 7]), np.amax(d['params'][:, 7])
# temperature
temperature_min, temperature_max = np.amin(d['params'][:, 8]), np.amax(d['params'][:, 8])
# catalyst_loading
catalyst_loading_min, catalyst_loading_max = np.amin(d['params'][:, 9]), np.amax(d['params'][:, 9])

print(f'res_time : {res_time_min} {res_time_max}')
print(f'temperature : {temperature_min} {temperature_max}')
print(f'catalyst_loading : {catalyst_loading_min} {catalyst_loading_max}')

res_time : 60.0 600.0
temperature : 30.0 110.0
catalyst_loading : 0.498 2.515

In [4]:
print(d['values'].shape)
d['values']

(89, 2)

array([[ 1.1,  0.6],
       [ 0.2,  0.6],
       [ 0.2,  0.6],
       [ 1.1,  0.6],
       [ 0.2,  0.6],
       [ 1.1,  0.6],
       [ 1.1,  0.6],
       [84.7, 43.4],
       [ 1.1,  0.6],
       [24. , 60.2],
       [16.7, 42. ],
       [33.8, 84.6],
       [16.9,  8.5],
       [21.8, 54.4],
       [ 0.5,  0.6],
       [22.5, 24.9],
       [ 0.2,  0.6],
       [21.2, 53.1],
       [ 0.5,  0.6],
       [ 5.1,  5.6],
       [ 6.7,  7.5],
       [82.6, 91.3],
       [27.4, 68.6],
       [21.1, 52.9],
       [ 6.6,  7.4],
       [30. , 75. ],
       [21.6, 53.8],
       [18.9, 47.6],
       [ 1.1,  0.6],
       [ 1.1,  0.6],
       [ 1.1,  0.6],
       [16.6, 41.9],
       [31.2, 77.5],
       [ 3.4,  8.5],
       [34.2, 85.4],
       [13.4, 33.4],
       [ 0.2,  0.6],
       [ 9.8, 24.4],
       [ 1.4,  3.6],
       [ 4.9, 12.4],
       [32.5, 81.3],
       [15.8, 39.1],
       [29.8, 74.1],
       [24.5, 60.9],
       [20.1, 10.3],
       [ 1.1,  0.6],
       [43.7, 21.7],
       [40. , 20.5],
       [17. ,  8.7],
       [24.5, 23.7],
       [42.6, 41.4],
       [40.6, 38.8],
       [72.4, 91.8],
       [46.6, 38. ],
       [39.9, 84. ],
       [27.7, 69.6],
       [25.2, 62.8],
       [27.5, 68.6],
       [37.1, 83.9],
       [34.4, 65.7],
       [35. , 80.7],
       [27.7, 64.4],
       [30.8, 82.1],
       [31.9, 80. ],
       [24.4, 29.6],
       [16.1, 20.4],
       [57.8, 71.6],
       [44.6, 70.9],
       [65.1, 75.5],
       [71.4, 82.7],
       [65.3, 72.2],
       [83.9, 92.8],
       [60.7, 72.1],
       [73. , 80.7],
       [20.2, 20.1],
       [18. , 17.9],
       [70.5, 87.5],
       [63.2, 80.2],
       [65.8, 78.1],
       [39.4, 98.7],
       [65.6, 83.1],
       [33.5, 83.9],
       [33.2, 83.2],
       [62. , 76.9],
       [73.3, 75. ],
       [81.2, 87.6],
       [67. , 75.9],
       [65.4, 68.7],
       [71.2, 78.7]])

In [9]:
def ohe_to_str(ohe):
    ix = np.where(ohe==1.)[0]
    return f'L{int(ix)}'

# ohe = np.array([0., 0., 1., 0.])
# ohe_to_str(ohe)

In [10]:
# convert to dataframe 
cols = ['ligand', 'res_time', 'temperature', 'catalyst_loading', 'yield', 'turnover']

In [11]:
dict_ = []

for param, value in zip(d['params'], d['values']):
    
    ligand = ohe_to_str(param[:7])
    res_time = param[7]
    temperature = param[8]
    catalyst_loading = param[9]
    
    #print(ligand, res_time, temperature, catalyst_loading)
    yield_ = value[1]
    turnover = value[0]
    
    dict_.append({'ligand': ligand,  'res_time': res_time, 'temperature': temperature, 
                 'catalyst_loading': catalyst_loading, 'yield': yield_, 'turnover': turnover})

In [12]:
df = pd.DataFrame(dict_)
print(df.shape)
df.head()

(89, 6)

  ligand  res_time  temperature  catalyst_loading  yield  turnover
0     L2     600.0         30.0             0.498    0.6       1.1
1     L5     600.0         30.0             2.515    0.6       0.2
2     L3      60.0         30.0             2.508    0.6       0.2
3     L0      60.0         30.0             0.513    0.6       1.1
4     L1     600.0         30.0             2.513    0.6       0.2

In [13]:
df.to_csv('../data.csv', index=False)