In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('raw_data.csv')
print(df.shape)
df.head()

(1800, 5)

   n  theta    r     t  toughness
0  6      0  1.5  0.70   1.144667
1  6      0  1.5  1.05   1.607561
2  6      0  1.5  1.40   1.144338
3  6      0  1.7  0.70   3.642738
4  6      0  1.7  1.05   3.748405

In [6]:
# remove the duplicates
wo_dup = df.iloc[:, :4].drop_duplicates(keep='last')
print(wo_dup.shape)
wo_dup.head()

(600, 4)

      n  theta    r     t
1200  6      0  1.5  0.70
1201  6      0  1.5  1.05
1202  6      0  1.5  1.40
1203  6      0  1.7  0.70
1204  6      0  1.7  1.05

In [7]:
measurements = []

for ix, row in wo_dup.iterrows():
    row = row.to_dict()    
    sub = df[
        (df['n']==row['n'])&
        (df['theta']==row['theta'])&
        (df['r']==row['r'])&
        (df['t']==row['t'])
    ]
    avg_measurement = sub['toughness'].mean()
    measurements.append(avg_measurement)

In [8]:
wo_dup['toughness'] = measurements

In [9]:
print(wo_dup.shape)
wo_dup.head()

(600, 5)

      n  theta    r     t  toughness
1200  6      0  1.5  0.70   1.135453
1201  6      0  1.5  1.05   1.406492
1202  6      0  1.5  1.40   1.343498
1203  6      0  1.7  0.70   3.102525
1204  6      0  1.7  1.05   3.196597

In [10]:
wo_dup.to_csv('data.csv', index=False)