In [86]:
import numpy as np
import pandas as pd

from hebo.design_space.design_space import DesignSpace
from hebo.optimizers.hebo import HEBO

In [87]:
def obj(params : pd.DataFrame) -> np.ndarray:
    return ((params.max_depth - 0.37)**2).sum()


def mock_obj(params):
    return np.array(np.random.uniform())

In [88]:
# space = DesignSpace().parse(
#     [{'name': 'x', 'type': 'num', 'lb': -3, 'ub': 3}]
# )

# #
space_cfg = [
    {'name' : 'max_depth', 'type' : 'int', 'lb' : 1, 'ub' : 20},
    {'name' : 'min_samples_leaf', 'type' : 'num', 'lb' : 1e-4, 'ub' : 0.5},
    {'name' : 'max_features', 'type' : 'cat', 'categories' : ['auto', 'sqrt', 'log2']},
    {'name' : 'bootstrap', 'type' : 'bool'},
    {'name' : 'min_impurity_decrease', 'type' : 'pow', 'lb' : 1e-4, 'ub' : 1.0},
    ]
opt = HEBO(DesignSpace().parse(space_cfg))

In [89]:
recs = []
obss = []
for i in range(5):
    #opt = HEBO(DesignSpace().parse(space_cfg))
    rec = opt.suggest(n_suggestions=1)
    obs = obj(rec)
    recs.append(rec)
    obss.append(obs)
    #print(type(obs), obs.shape)
    #print(type(rec))
    opt.observe(rec, obj(rec).reshape(-1, 1))
    #print(f'iteration {i}\t rec : {rec["x"].to_list()} \t obj : {mock_obj(rec)}')

In [90]:
all_recs = pd.concat(recs)
all_recs

   max_depth  min_samples_leaf  bootstrap  min_impurity_decrease max_features
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto

In [106]:
all_recs.to_dict('r')

[{'max_depth': 1,
  'min_samples_leaf': 0.0001,
  'bootstrap': False,
  'min_impurity_decrease': 0.00010000000000000021,
  'max_features': 'auto'},
 {'max_depth': 1,
  'min_samples_leaf': 0.0001,
  'bootstrap': False,
  'min_impurity_decrease': 0.00010000000000000021,
  'max_features': 'auto'},
 {'max_depth': 1,
  'min_samples_leaf': 0.0001,
  'bootstrap': False,
  'min_impurity_decrease': 0.00010000000000000021,
  'max_features': 'auto'},
 {'max_depth': 1,
  'min_samples_leaf': 0.0001,
  'bootstrap': False,
  'min_impurity_decrease': 0.00010000000000000021,
  'max_features': 'auto'},
 {'max_depth': 1,
  'min_samples_leaf': 0.0001,
  'bootstrap': False,
  'min_impurity_decrease': 0.00010000000000000021,
  'max_features': 'auto'}]

In [93]:
obss

[0.39690000000000003,
 0.39690000000000003,
 0.39690000000000003,
 0.39690000000000003,
 0.39690000000000003]

In [95]:
all_obs = np.array(obss).reshape(-1, 1)
all_obs, all_obs.shape

(array([[0.3969],
        [0.3969],
        [0.3969],
        [0.3969],
        [0.3969]]),
 (5, 1))

In [98]:
[{'max_depth': }]

   max_depth  min_samples_leaf  bootstrap  min_impurity_decrease max_features
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto
0          1            0.0001      False                 0.0001         auto

In [99]:
space_cfg = [
    {'name' : 'max_depth', 'type' : 'int', 'lb' : 1, 'ub' : 20},
    {'name' : 'min_samples_leaf', 'type' : 'num', 'lb' : 1e-4, 'ub' : 0.5},
    {'name' : 'max_features', 'type' : 'cat', 'categories' : ['auto', 'sqrt', 'log2']},
    {'name' : 'bootstrap', 'type' : 'bool'},
    {'name' : 'min_impurity_decrease', 'type' : 'pow', 'lb' : 1e-4, 'ub' : 1.0},
    ]
opt = HEBO(DesignSpace().parse(space_cfg))

In [102]:
opt.observe(all_recs, all_obs)

In [104]:
opt.suggest(n_suggestions=1)

   max_depth  min_samples_leaf  bootstrap  min_impurity_decrease max_features
0          1            0.0001      False                 0.0001         auto