In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('raw_data.csv')
print(df.shape)
df.head()

(139, 4)

   CsPbI  FAPbI  MAPbI  instability_index
0   0.00   1.00    0.0             480185
1   0.00   1.00    0.0             505657
2   0.25   0.75    0.0             144074
3   0.50   0.50    0.0             239852
4   0.50   0.50    0.0             416657

In [3]:
# remove the duplicates
wo_dup = df.iloc[:, :3].drop_duplicates(keep='last')
print(wo_dup.shape)
wo_dup.head()

(94, 3)

    CsPbI  FAPbI  MAPbI
1    0.00   1.00   0.00
4    0.50   0.50   0.00
6    0.75   0.25   0.00
8    1.00   0.00   0.00
10   0.00   0.75   0.25

In [4]:
measurements = []

for ix, row in wo_dup.iterrows():
    row = row.to_dict()    
    sub = df[
        (df['CsPbI']==row['CsPbI'])&
        (df['FAPbI']==row['FAPbI'])&
        (df['MAPbI']==row['MAPbI'])
    ]
    avg_measurement = sub['instability_index'].mean()
    measurements.append(avg_measurement)

In [5]:
wo_dup['instability_index'] = measurements

In [6]:
print(wo_dup.shape)
wo_dup.head()

(94, 4)

    CsPbI  FAPbI  MAPbI  instability_index
1    0.00   1.00   0.00           492921.0
4    0.50   0.50   0.00           328254.5
6    0.75   0.25   0.00           263555.0
8    1.00   0.00   0.00           247891.5
10   0.00   0.75   0.25           948003.0

In [7]:
wo_dup.to_csv('data.csv', index=False)