In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('raw_data.csv')
print(df.shape)
df.head()

(233, 6)

   p3ht_content  d1_content  d2_content  d6_content  d8_content  conductivity
0          45.0         0.0        55.0         0.0         0.0         12.77
1          75.0         0.0        25.0         0.0         0.0         13.19
2          30.0         0.0        70.0         0.0         0.0         14.78
3          30.0         0.0        70.0         0.0         0.0         16.34
4          45.0         0.0        55.0         0.0         0.0         16.94

In [5]:
# remove the duplicates
wo_dup = df.iloc[:, :5].drop_duplicates(keep='last')
print(wo_dup.shape)
wo_dup.head()

(178, 5)

   p3ht_content  d1_content  d2_content  d6_content  d8_content
1          75.0         0.0        25.0         0.0         0.0
3          30.0         0.0        70.0         0.0         0.0
4          45.0         0.0        55.0         0.0         0.0
5          90.0         0.0         0.0        10.0         0.0
6          95.0         0.0         0.0         0.0         5.0

In [6]:
measurements = []

for ix, row in wo_dup.iterrows():
    row = row.to_dict()    
    sub = df[
        (df['p3ht_content']==row['p3ht_content'])&
        (df['d1_content']==row['d1_content'])&
        (df['d2_content']==row['d2_content'])&
        (df['d6_content']==row['d6_content'])&
        (df['d8_content']==row['d8_content'])
    ]
    avg_measurement = sub['conductivity'].mean()
    measurements.append(avg_measurement)

In [7]:
wo_dup['conductivity'] = measurements

In [8]:
print(wo_dup.shape)
wo_dup.head()

(178, 6)

   p3ht_content  d1_content  d2_content  d6_content  d8_content  conductivity
1          75.0         0.0        25.0         0.0         0.0        13.190
3          30.0         0.0        70.0         0.0         0.0        15.560
4          45.0         0.0        55.0         0.0         0.0        14.855
5          90.0         0.0         0.0        10.0         0.0        24.010
6          95.0         0.0         0.0         0.0         5.0        26.190

In [9]:
wo_dup.to_csv('data.csv', index=False)