In [3]:
import pickle 
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
d = pickle.load(open('dataset_iii.pkl', 'rb'))

In [5]:
print(d['params'].shape)
d['params'][0][:7]

(88, 10)

array([0., 0., 0., 1., 0., 0., 0.])

In [6]:
# check parameter bounds for the continuous-valued parameters
# res_time
res_time_min, res_time_max = np.amin(d['params'][:, 7]), np.amax(d['params'][:, 7])
# temperature
temperature_min, temperature_max = np.amin(d['params'][:, 8]), np.amax(d['params'][:, 8])
# catalyst_loading
catalyst_loading_min, catalyst_loading_max = np.amin(d['params'][:, 9]), np.amax(d['params'][:, 9])

print(f'res_time : {res_time_min} {res_time_max}')
print(f'temperature : {temperature_min} {temperature_max}')
print(f'catalyst_loading : {catalyst_loading_min} {catalyst_loading_max}')

res_time : 60.0 600.0
temperature : 30.0 110.0
catalyst_loading : 0.499 2.513

In [7]:
print(d['values'].shape)
d['values']

(88, 2)

array([[ 0.1,  0.2],
       [ 0.1,  0.2],
       [ 0.3,  0.2],
       [ 0.1,  0.2],
       [ 0.3,  0.2],
       [ 0.3,  0.2],
       [ 0.1,  0.2],
       [ 0.3,  0.2],
       [ 0.3,  0.2],
       [ 0.1,  0.2],
       [50.6, 25.4],
       [16.9, 42.2],
       [46.3, 23.6],
       [36.6, 91.3],
       [77.4, 86.5],
       [ 0.1,  0.2],
       [ 4. ,  4.4],
       [31.6, 78.8],
       [ 2.6,  2.9],
       [34.7, 86.7],
       [ 0.1,  0.2],
       [19.9, 49.9],
       [ 3.9,  4.3],
       [ 2. ,  5.1],
       [ 6.9,  7.6],
       [ 8.8, 22.1],
       [ 0.7,  0.8],
       [ 0.3,  0.7],
       [ 1.6,  4.1],
       [32.6, 76.6],
       [33. , 80.3],
       [37.7, 87.4],
       [20.9, 49.9],
       [ 0.1,  0.2],
       [ 0.2,  0.2],
       [ 9.8, 10.9],
       [51.4, 62.6],
       [77.6, 85.8],
       [48.6, 51.7],
       [24.8, 35.1],
       [53.1, 88.8],
       [59.8, 78.4],
       [61.8, 87.5],
       [30.3, 75.4],
       [32. , 79.8],
       [34.4, 86.5],
       [56.6, 85. ],
       [43.6, 84.2],
       [60.6, 79.4],
       [49.5, 81.4],
       [77.4, 81.1],
       [49.5, 71.5],
       [59.9, 82. ],
       [51.2, 68.2],
       [83. , 87. ],
       [65.3, 83.3],
       [50.5, 90.2],
       [35.8, 86.4],
       [48.1, 83.3],
       [75.9, 81.7],
       [41.5, 77.7],
       [65.1, 84.9],
       [44.5, 84.6],
       [43. , 87.7],
       [34.4, 85.9],
       [46.9, 90.4],
       [38.3, 81.4],
       [80.8, 89.4],
       [40.5, 73.5],
       [85.6, 79.9],
       [52.1, 82.9],
       [40. , 68. ],
       [53.8, 90.1],
       [74.3, 90.6],
       [49.3, 70.1],
       [66.4, 94.1],
       [45.4, 87.6],
       [80.1, 87.3],
       [44.3, 77.9],
       [45.3, 81. ],
       [52.3, 84.5],
       [64.4, 84. ],
       [65.4, 79.6],
       [47.2, 75. ],
       [43.6, 78. ],
       [ 0.3,  0.2],
       [ 0.3,  0.2],
       [49.6, 80.1]])

In [14]:
def ohe_to_str(ohe):
    ix = np.where(ohe==1.)[0]
    return f'L{int(ix)}'

# ohe = np.array([0., 0., 1., 0.])
# ohe_to_str(ohe)

In [15]:
# convert to dataframe 
cols = ['ligand', 'res_time', 'temperature', 'catalyst_loading', 'yield', 'turnover']

In [24]:
dict_ = []

for param, value in zip(d['params'], d['values']):
    
    ligand = ohe_to_str(param[:7])
    res_time = param[7]
    temperature = param[8]
    catalyst_loading = param[9]
    
    #print(ligand, res_time, temperature, catalyst_loading)
    yield_ = value[1]
    turnover = value[0]
    
    dict_.append({'ligand': ligand,  'res_time': res_time, 'temperature': temperature, 
                 'catalyst_loading': catalyst_loading, 'yield': yield_, 'turnover': turnover})

In [25]:
df = pd.DataFrame(dict_)
print(df.shape)
df.head()

(88, 6)

  ligand  res_time  temperature  catalyst_loading  yield  turnover
0     L3      60.0         30.0             2.513    0.2       0.1
1     L1     600.0         30.0             2.494    0.2       0.1
2     L0      60.0         30.0             0.510    0.2       0.3
3     L4     600.0         30.0             2.511    0.2       0.1
4     L5      60.0         30.0             0.499    0.2       0.3

In [26]:
df.to_csv('../data.csv', index=False)